@import '~antd/dist/antd.css';
@import "~react-table/react-table.css";

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #595959;
}


.button{
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: white;
  color: black;
}

.button:active {
  background-color: white;
  transform: translateY(4px);
}
.button:focus{
  outline:0;
}
