.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.button{
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}
.button:hover {
  background-color: white;
  color: black;
}

.button:active {
  background-color: white;
  transform: translateY(4px);
}
.button:focus{
  outline:0;
}

.App-header {
  background-color:teal;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: teal;
  color: white;
  text-align: right;

}

